body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.carousel-inner{
    height: 950px;
}

.corousel-item, img{
    height: 100% !important;
    width:  100% !important;
}

footer a {
    text-decoration: none;
}
